---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Skylanders portal emulator interface">
	<main>
		Look at the console, nerd
	</main>
</Layout>

<script>
	import Portal from "../../lib/portal";

	let portal: Portal = new Portal("http://192.168.178.199")
	console.log(await portal.api.getInfo())
	console.log(await portal.api.getSlots())
	//console.log(await portal.api.getToy(1))
	//console.log(await portal.api.deleteToy(1))
	//console.log(await portal.api.setToy(0, new Uint8Array(0)))
</script>
